<div class="bg-image">
  <img src="assets/home_main_photo.png" class="mw-100" />
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <p class="text-white mb-0">Come <strong>find</strong> your <strong>R</strong>oommates!</p>
    </div>
  </div>
</div>
<div class="container">
  <h2>Find Roommates near you!</h2>
  <div>
    <p>FindR! is the perfect application for finding roommates or accommodation for students that have a hard time</p>
    <p>The site is divied into 2 sections. Not only you can find roommates that are best suited for you <i>based on your bio</i> but also an accommodation the accommodation that is best for you. Either if you want to be <i>near the University you study or to be at a cheaper price</i>, here you can find anything!</p>
  </div>
  <h3>Start here your search!</h3>
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6">
      <div class="bg-image-button" [routerLink]="['/find-roomates']">
        <img src="assets/roomates_button_main.png" class="mw-100 mx-auto d-block" />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)">
          <div class="d-flex justify-content-center align-items-center h-100">
            <p class="text-white mb-0">Find roommates!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="bg-image-button" [routerLink]="['/find-housing']">
        <img src="assets/accomodation_button_main.png" class="mw-100 mx-auto d-block" />
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.2)">
          <div class="d-flex justify-content-center align-items-center h-100">
            <p class="text-white mb-0">Find accommodation!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
